<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <center>
        <h1>Login-page</h1>
        <form action="/user/login" method="post">
            <label>EMAIL ID:</label>
            <input type="text" name="email">
            <br>
            <br>
            <label>PASSWORD:</label>
            <input type="text" name="password">
            <br>
            <br>
            <button type="submit">Login</button>
        </form>
    </center>
</body>
</html>