<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup page</title>
</head>
<body>
    <center>
    <h1>USER SIGN-UP</h1>
    <form method="POST" action="/user">
        <label>USERNAME</label>
        <input type="text" name="username">
        <label>EMAIL</label>
        <input type="text" name="email">
        <br>
        <br>
        <label>PASSWORD</label>
        <input type="text" name="password">
        <br>
        <br>
        <button type="submit">submit</button>
        
    </form>
</center>
</body>
</html>